body {
  background-color: #444;
  background-image: url(72ecff848bf9a6af54dfbe3a90eb5d3c.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

