* {
    margin: 0;
    padding: 0;
}

img {
    margin-bottom: 0.2em;
    margin-top: 0.4em;
    margin-left: 0.4em;
    height: 2em;
    width: 10.58em;
}

body {
    background-color: #bbb;
    border-bottom: solid 0.2em #4faddb;
}

.cabecalho {
    display: block;
    background-color: #333;
    height: 3em;
}

.logo {
    float: left;
}

.menu-toggle {
    display: none;
    float: right;
    margin-right: 1.6em;
    margin-top: 0.6em;
    padding: 0.4em 1em;
    background-color: #555;
    color: white;
    border-radius: 0.4em;
}

.fa-bars {
    font-size: 0.8em;
}

.menu {
    display: inline-block;
    margin-top: 0.7em;
    margin-left: 2em;
}

.menu > ul > li {
    display: inline;
    margin-right: 0.3em; 
}

.letras {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.autenticacao {
    display: inline;
    float: right;
    margin-top: 0.7em;
    margin-right: 1.6em;
}

.autenticacao > a {
    margin-left: 1em;
}

li {
    padding: 0.5em;
}

li:hover {
    background-color: #4faddb;
    border-radius: 0.1em;
}

li:hover * {
    color: black;
}

.destaque {
    background-color: rgb(247, 50, 50);
    border-radius: 1em;
    padding: 0.3em 1em;
}

@media (max-width: 700px) {
    .autenticacao { display: none; }
}

@media (max-width: 500px) {
    .menu { display: none; }
    .menu-toggle { display: inline; }
}